<%= @user.name %>, API KEY = <%= @user.key %>

      
<% if is_logged_in? %>
      <% if @user.key %>
        <div class="alert alert-danger" role = "alert"><%= link_to "Delete API Key", @user, method: :delete %></div>
      <% else %> 
        <div class="alert alert-info"role = "alert"> <%= link_to "Generate API Key", @user, method: :post %></div>
      <% end %>
<% end %>